@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.leftlogo {
    font-family: 'Mrs Saint Delafield', cursive;
    color: rgb(196, 164, 164);
    position: absolute;
    top: 20px; left: 20px;
}

p {
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    min-height: 1000px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.png);
    background-size: cover;
}
.banner .content {
    max-width: 900px;
    text-align: center;
}
.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    color:rgb(196, 164, 164);
}

/* begin styling and animation for 'services' button */
.btn {
    font-size: 1em;
    color: #fff;
    background: #db0e53;
    display: inline-block;
    padding: 8px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 5px;
}
/* end styling and animation for 'services' button */

/* navigation styling */
header {
    position: fixed;
    float: left;
    width: 100%;
    padding: 20px 20px;
    z-index: 10000;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    transition: 0.5s;
    background-color: #ffffff2f;
}

header .navigation {
    position: relative;
    display: flex;
}
/* beginning of glass morphism styling */
header .navigation li {
    list-style: none;
    margin-left: 10px;
    box-shadow: 0 0 15px -6px #424242;
}

ul li a {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    position: relative;
}

ul li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 43%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: 0.5s;
}

ul li a:hover::before {
    background-color: #fff;
}
/* ending of glass morphism styling */

/* start of about me section */
section {
   padding: 80px;
}
.about {
    background-color: #000;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

section p {
    color: #fff;
    font-weight: 200;
    text-align: left;
}

.titleText {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
}
.titleText span {
    color: #db0e53; 
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: none;
}
/* end of about me section */

/* start of services section  */
.services {
    background-color: #000;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 0.2%;
    
}
.services .content .box {
    width: 340px;
    margin: 15px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.services .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.services .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.services .content .box .text {
    padding: 15px 0 5px;
    color: #fff;
}
.services .content .box .text h3 {
    font-weight: 400;
    color: #db0e53;
    text-align: center;
}
/* end of services section */

/* start testimonials section */
.testimonials {
    background-color: #000;
}
.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;

}
.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials .content .box .imgBx {
    position: relative;
    width: 90px; 
    height: 90px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text p {
    padding: 15px 0 5px;
    color: #000;
    font-style: initial;
    font-size: smaller;
    text-align: center;
}
.testimonials .content .box .text h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #db0e53; 
    font-size: 1em;
    text-align: center;
}
/* end testimonials section */

/* begin contact me section */
.contact {
    background: url(images/bg2.jpeg);
    background-size: cover;
}
.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.01);
    max-width: 500px;
    margin-top: 8%;
}
.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%; 
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    background: #db0e53;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
/* end contact me section */

.copyrightText {
    background-color: #000;
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p {
    color: rgb(126, 117, 117);
}
.copyrightText a {
    color: rgb(197, 197, 197);
    font-weight: 600;
    text-decoration: none;
}

/* adding a responsive menu toggle function */
@media (max-width: 991px) {
    header, 
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100%-68px);
        position: fixed;
        top: 68;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(66, 64, 64);
    }
    header .navigation. li {
        margin-left: 0;
    }

    header .navigation. li a {
        text-decoration: none;
        /* color: #000; */
        font-size: 1.6em;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }
    .about .content .box {
        margin: 10px;
    }
    .about .content .box .imgBx {
        height: 260px;
    }
    .title {
        text-align: center;
    }
    .titleText {
        color: #111;
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .testimonials .content .box {
        margin: 10px;
        padding: 20px;
    }
    .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (max-width: 480px) {
    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }
}